body {
    margin: 0px;
    height: 100%;
    font-family: 'Quicksand', sans-serif;
    font-size: 16px;
}

p, h1, h2, h3, h4, h5, h6 {
    letter-spacing: 1px;
    font-weight: lighter;
}

form, p {
    margin: 0px;
}

input[type="text"] {
    border-radius: none;
    outline: none;
    padding: 10px;
    border-style: none;
    border-bottom: solid 2px #a2a2a2;
    background-color:transparent;
    color: white;
    font-weight: lighter;
    letter-spacing: 1px;
}

button, input[type="submit"] {
    font-size: 16px;
    padding: 10px;
    border: none;
    border-radius: 5px;
    color: #2a2a2a;
    margin-top: 10px;
    text-decoration: none;
    width: 150px;
    cursor: pointer;
}

button a:link, a:visited {
    text-decoration: none;
    color: white;
}

img {
    height: 100px;
    width: 100px;
    border-radius: 50%;
}

/* VIDEO BACKGROUND ON HOME PAGE */
.covervid-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/* CONTENT CONTAINER */

.overlayContent {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
    padding: 6%;
    width: 90%;
    height: 100%;
    background: linear-gradient(to bottom, rgba(0,0,51,0.4) 0%, rgba(0,199,212,0.2) 100%);
    color: white;
}

#overlayGeoShape {
    position: absolute;
    width: 150%;
    height: 150%;
    left: -200;
    opacity: 0.1;
}

/* BACKGROUND IMAGE FOR SMALLER DEVICES - REMOVES VIDEO */
@media screen and (max-device-width: 800px) {
    html {
         background: url(../assets/img/citywomanbkgd.jpeg) no-repeat;
    }
    .covervid-wrapper {
        display: none;
    }
    .covervid-video {
        display: none;
    }
}

/* MAIN CONTENT */

.container {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}


/* LOGO */

.logoSection {
    display: flex;
    flex-wrap: wrap;
    width: 200px;
    height: 100px;
    margin-top: 6%;
    margin-bottom: 2%;
}

.logoSection img {
    border-radius: 0px;
    width:100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    align-content: left;
}

/* SEARCH SECTION */

.homeSearchArea {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin: 32px 0px;
}

.homeSearchArea form {
    width: 60%;
}

.homeSearchArea img {
    width: 60px;
}

input[type="submit"].arrowSubmit {
    background: url(../assets/img/arrow.svg);
    background-repeat: no-repeat;
    background-color: transparent;
    margin: 0px;
    width: 50px;
    height: 50px;
    outline: none;
}

.fadedLineTextInput {
    padding: 10px;
    border: none;
    transition: border 0.3s;
    background-color: none;
    font-size: 32px;
    width: 80%;
    height: 100px;
}

.fadedLineTextInput:focus,
.fadedLineTextInput.focus {
    border-bottom: solid 2px white;
    background-image: none;
}

/* SEARCH RESULTS ON HOME PAGE */

.youTuberResults {
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
    overflow: auto;
    margin-top: 20px;
}

.youTuberInfo {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;
    width: 200px;
}

.youTuberInfo > * {
    margin-bottom: 10px;
}

.channelThumbnailImage {
    border: 1px solid #AAA;
}

/* RESULTS INFORMATION / LEFT COLUMN IN RESULTS PAGE */

.resultsInfoContainer {
    width: 20%;
}

.errorMessage {
    color: red;
    font-weight: bold;
}

/* RESULTS PAGE SPECIIC STYLING */

.videoContainer {
    display: flex;
    justify-content: center;
    padding: 20px;
    width: 70%;
}

.firstVideo {
    border: 32px solid rgba(250,255,255,0.2);
    border-radius: 5px;
}