<div class="covervid-wrapper">

    <!--VIDEO LOOPING AS BACKGROUND -->
    <video covervid class="covervid-video" autoplay loop>
        <source src="./assets/videos/RollerCoaster-350950598.mp4" type="video/mp4">
    </video>

    <img id="overlayGeoShape" src="../assets/img/geo-lines.svg"/>

    <!-- CONTENT OVERLAY -->
    <div class="overlayContent">

        <!-- LOGO -->
        <div class="logoSection">
            <a href="#!/home"><img src="../assets/img/boba-logo.svg"/></a>  
        </div>     

        <!-- MAIN CONTENT -->
        <div class="container">  

            <p style="font-size: 18px;">Search for your favorite YouTuber's first video.</p><br>
            
            <div class="homeSearchArea">
                <!-- SEARCH FORM -->
                <img src="../assets/img/search-icon.svg"/>
                <form ng-submit="youTubeSearch()">  
                    <p><input class="fadedLineTextInput" type="text" ng-model="newSearch.text" autofocus:"autofocus"><input class="arrowSubmit" type="submit" value=""></p>
                </form>
            </div>


                <div class="youTuberResults">
                    <div class="youTuberInfo" ng-repeat="channel in channelResults">
                        <p>{{ channel.snippet.channelTitle }}</p>
                        <a href="#!/first/{{ channel.id.channelId }}"><img class="channelThumbnailImage" ng-src="{{channel.snippet.thumbnails.default.url}}"/></a>
                    </div>
                </div>
        </div>

    </div>



</div>