<div class="covervid-wrapper">
    <video covervid class="covervid-video" autoplay loop
        poster="./assets/img/citywomanbkgd.jpeg">
        <source src="./assets/videos/RollerCoaster-350950598.mp4" type="video/mp4">
    </video>
    <div class="overlayContent" style="padding: 100px;">
        <div style="width: 200px; height: 100px; margin-top: 32px;">
            <a href="#!/home"><img style="width:100%; height: 100%; margin: 0px; padding: 0px; align-content: left;" src="../assets/img/boba-logo.svg"/></a>  
        </div>       
        <p>Search for your favorite YouTubers' first videos!</p>
        <h3>Search YouTubers:</h3>
        <div class="homeSearchArea">
            <form ng-submit="youTubeSearch()">  
                <p><input type="text" ng-model="newSearch.text" autofocus:"autofocus" placeholder="Search"> <input type="submit" value="Search"></p>
            </form>
            <div class="youTubersBlock">
                <div class="youTuberInfo" ng-repeat="channel in channelResults">
                    <!--<p>{{channel.snippet.channelTitle}} {{ channel.id.channelId }}</p>-->
                    <!--<p>{{channel.snippet.description}}</p>-->
                    <a href="#!/first/{{ channel.id.channelId }}"><img ng-src="{{channel.snippet.thumbnails.default.url}}"/></a>
                </div>
            </div>
        </div>
    </div>
</div>